{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex align-items-center justify-content-between">
		<h1 class="display-4">Utilisateurs</h1>
	</div>
	
	<table class="table table-responsive-sm table-striped">
		<caption>Liste des utilisateurs inscrits sur les applications partenaires</caption>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Inscrit sur</th>
				<th>Options</th>
			</tr>
		</thead>
        <tbody>            
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>
                    	{% for application in user.applications %}
                    		{{ application.username }} {% if not loop.last %}- {% endif %}
                    	{% endfor %}
                    </td>
                    <td>
                    	<a href="{{ path('users_view', { id: user.id }) }}" class="btn btn-secondary">
							<span class="fas fa-eye"></span> <span class="hidden-xs">Voir</span>
						</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}