.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.5);
	&.active {
		background-color: #000;
	}
}
.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:focus, 
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover { color: #000; }