{% extends 'base.html.twig' %}

{% block body %}
	<div class="d-flex align-items-center justify-content-between">
        <h1 class="display-4"><span class="fas fa-pencil-alt"></span> {{ manufacturer.name }}</h1>
        <a href="{{ path('manufacturers') }}" class="btn btn-secondary">
            <span class="fas fa-list"></span> <span class="hidden-xs">Retour à la liste</span>
        </a>
    </div>
	<hr/>
	{% include 'manufacturers/form.html.twig' %}
{% endblock %}